[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Hot Corners
Comment=
Exec=/usr/share/VX/hot-corners/run
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

